* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_844 {
  width: 814px;
  height: 672px;
  background: rgba(41,50,234,1);
  padding: 300px 92px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_845 {
  width: 814px;
  height: 380px;
  background: url("../images/v1_845.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_841 {
  width: 814px;
  height: 380px;
  background: rgba(148,23,219,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: -8px 19px 18px rgba(0, 0, 0, 0.1599999964237213);
}
.v1_843 {
  width: 146px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 27px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
